/* Basic Reset */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  text-align: center;
  width: 100%;
  padding: 1.2rem;
}

h1{
  color: #333;
  margin-bottom: 20px;
}

.board{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.list{
  background-color: #e3e4e8;
  padding: 1rem;
  border-radius: 8px;
  width: 30%;
  min-height: 400px;
  box-shadow: 0px 0px 20px 8px rgba(0, 0, 0.1, 0.5);
}

.list h2{
  color: #555;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card{
  background-color: white;
  color: #333;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: grab;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0.1, 0.3);
  transition: transform 0.2s ease, box-shadow ease;
}

.card:active{
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 10px rgba(43, 40, 40, 0.3);
}

.list:hover{
  background-color: #d1d3d8;
}

/* mobile friednly media query */

@media screen  and (max-width:480px){
  .board{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list{
    width: 70%;
    margin-bottom: 20px;
  }
  
}

/* Larger phones */
@media screen and (max-width:576px) {
  .board{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list{
    width: 60%;
    margin-bottom: 20px;
  }
  
}

/* tablet friendly */
@media screen and (max-width:768px) {
  .board{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list{
    width: 80%;
    margin-bottom: 20px;
  }
}