/* Basics Reset */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:poppins, sans-serif;
}
body{
background: linear-gradient(135deg, #83a8df, #c3cfe3);
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
}

.container{
  background-color: wheat;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0.2, .5);
}

.container h1{
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  position: relative;
  padding-bottom: 0.5rem;
}

h1::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width:50%;
  height: 3px;
  background-color: #444962;
  border-radius: 2px;
}

/* generate button */

#generate-btn{
background: linear-gradient(45deg, #667eea, #76a4ba);
color: white;
border: none;
padding: 0.8rem 1.5rem;
border-radius: 2rem;
cursor: pointer;
font-weight: 500;
margin-bottom: 2rem;
font-size: 1rem;
transition: all 0.3s ease; 
}

#generate-btn:hover{
  transform: translateY(-1px);
  box-shadow:0px 0px 10px 2px rgba(0, 0, 0.2, .5) ;
}
#generate-btn:active{
  transform: translateY(0);
}

/* color container */

.palette-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(130px, 1fr));
}

.color-box{
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0.2, .2);
  transition: transform 0.3s ease;
}

.color-box:hover{
  transform: translateY(-5px);
}

.color{
  height: 120px;
  cursor: pointer;
}

.color-info{
  background-color: #e7dddd;
  padding: 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.hex-value{
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn{
  cursor: pointer;
  color: #6786b1;
  transition: color 0.3s ease;
}

.copy-btn:hover{
  color: #667eea;
}

/* Responsive design */

@media screen and (max-width:768px){
  .palette-container{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  
}